@{
    ViewData["Title"] = "Aggiungi Verbale";
}

<div class="container">
    <h1 class="text-center">Aggiungi Verbale</h1>
    <form asp-controller="Verbale" asp-action="AggiungiVerbale" method="post">
        <div class="mb-3">
            <label for="IDViolazione" class="form-label">ID Violazione:</label>
            <input type="text" id="IDViolazione" name="IDViolazione" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="IDAnagrafica" class="form-label">ID Anagrafica:</label>
            <input type="text" id="IDAnagrafica" name="IDAnagrafica" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="DataViolazione" class="form-label">Data Violazione:</label>
            <input type="date" id="DataViolazione" name="DataViolazione" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="IndirizzoViolazione" class="form-label">Indirizzo Violazione:</label>
            <input type="text" id="IndirizzoViolazione" name="IndirizzoViolazione" class="form-control">
        </div>

        <div class="mb-3">
            <label for="Nominativo_Agente" class="form-label">Nominativo Agente:</label>
            <input type="text" id="Nominativo_Agente" name="Nominativo_Agente" class="form-control">
        </div>

        <div class="mb-3">
            <label for="Importo" class="form-label">Importo:</label>
            <input type="number" id="Importo" name="Importo" class="form-control" step="0.01" required>
        </div>

        <div class="mb-3">
            <label for="DataTrascrizioneVerbale" class="form-label">Data trascrizione verbale:</label>
            <input type="date" id="DataTrascrizioneVerbale" name="DataTrascrizioneVerbale" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="DecurtamentoPunti" class="form-label">Punti Decurtati:</label>
            <input type="number" id="DecurtamentoPunti" name="DecurtamentoPunti" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="Contestazione" class="form-label">Contestazione:</label>
            <select id="Contestazione" name="Contestazione" class="form-control" required>
                <option value="">Seleziona</option>
                <option value="true">Sì</option>
                <option value="false">No</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Aggiungi</button>
    </form>
</div>
